@import url('https://fonts.googleapis.com/css?family=Medula+One|Open+Sans');
$bg : #503228;
$text : white;
$text-viewer : black;
$bg-nav: #494949;

//selects all elements and applies padding and border in width, stops overflowing boxes!
*, *:before, *:after {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
  font-size:16px;
  margin: 0;
  padding: 0;
}
header {
  font-family: 'Medula One', cursive;
  text-align: center;
  font-size: 3em;
  font-weight: bolder;
}
body{
  background: url(http://res.cloudinary.com/deyh3ywme/image/upload/v1504001961/markdown-bg_e62gma.jpg) no-repeat center center fixed;
  background-size: cover;
  background-color: $bg;
  color: $text;
  font-family: 'Open Sans', sans-serif;
}
nav {
  position: absolute;
  top: 0%;
  left: 0%;
  margin: 0;
  padding: 0 1em;
  background-color: $bg-nav;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  h1{
    font-size: 2em;
    padding: 0;
    margin: 0;
    font-family: 'Medula One', cursive;
    font-weight: normal;
  }
}
.main-container{
  min-height: 100vh; //makes container full view to allow sticky footer
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  //align-items: stretch;
  justify-content: space-between;
}
article {
 margin-top: 50px;
 padding: 0;
 width: 100%;
 display: flex;
 flex-flow: row nowrap;
 }
section{
  flex-grow: 1 0 auto;
  width: 100%;
  min-width:50%;
  background-color: #C64212;
  border: 2px solid #DEA438;
  border-radius: 5px;
  padding: 1em;
  margin: 0;
}
.display-none{
    display:none;
  }

.markdown-output {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  width: 100%;
  align-items: center;
  p{
    padding: 0;
    margin: 0 0 1em 0;
  }
}
.output-text {
    background-color: white;
    width: 100%;
    height: auto;
    flex: 1 0 200px;
    padding: 7px;
    border-radius: 5px;
    color: $text-viewer;
    //overflowing text goes on newline
    word-wrap: break-word;
    overflow: auto;
}
.markdown-form{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: $text-viewer;
  height: 100%;
  label{
    color: $text;
  }
  textarea[type='text']{
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    flex: 1 0 500px;
    padding: 7px;
    border: none;
    border-radius: 5px;
    resize: none;
    overflow: auto;
  }
  textarea:focus {
  outline: none;
}
  .btn-container {
    display:flex;
    flex-flow: row nowrap;
    padding: 1em;
    width: 100%;
    justify-content: space-around;
  }
  button{
    color: white;
    padding: 0.5em;
    background-color: #595959;
    border-radius: 5px;
    border-style: none;
    transition: transform 2s;
    &:hover{
      background-color: brown;
      transform: rotateY(360deg);
    }
    &:focus{
      outline: none;
    }
  }
}
footer{
  align-self: center;
  a{
    color: #C64212;
    text-decoration: none;
    img {
    margin: 0 0.5em;
    width: 1.5em;
    height: auto;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0.4s;
  }
    &:hover >img{
      color: #DEA438;
      visibility: visible;
      opacity: 1;
  }
  }
}

/* mobile first, so this is for larger screens and also for landscape views */
@media only screen and (min-width: 700px)  {
  header {
    font-size: 4em;
  }
  section {
    min-width:40%;
    margin: 5%;
  }
}
