@import url('https://fonts.googleapis.com/css?family=Medula+One|Open+Sans');
$bg : #503228;
$text : white;
$text-viewer : black;
$bg-nav: #494949;

//selects all elements and applies padding and border in width, stops overflowing boxes!
*, *:before, *:after, ul, li {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  width: 100%;
  font-size:16px;
}
body{
  background: url(http://res.cloudinary.com/deyh3ywme/image/upload/v1504001961/markdown-bg_e62gma.jpg) no-repeat center center fixed;
  background-size: cover;
  background-color: $bg;
  color: $text;
  font-family: 'Open Sans', sans-serif;
}
ul{
  list-style-type: none;
}
li{
  display:inline;
}
button{
 -webkit-appearance: none; //remote safari defaults
  border-radius: 0;
  border-style: none;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}
.btn-select-display{
  border: 1px solid #DEA438;
  background-color: $bg;
  color: #bfbfbf;
  padding: 2px;
}
.btn-clear{
  border: 1px solid #494949;
  border-radius: 2px;
  background: url('/../img/close-icon.png') center no-repeat;
  background-color: rgba(0, 0, 0, 0.1);
  height: 24px;
  width: 24px;
}
.btn-example{
  border: none;
  border-radius: 2px;
  background: url('/../img/MD-icon.png') center no-repeat;
  height: 24px;
  width: 24px;
}
.container{
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}
header {
  padding: 0.3em 1em;
  flex: 0.1 1 auto;
  background-color: $bg-nav;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  h1{
    font-size: 2em;
    padding: 0;
    margin: 0;
    font-family: 'Medula One', cursive;
    font-weight: normal;
  }
}
article {
 flex: 2 1 auto;
 display: flex;
 flex-flow: row nowrap;
 }
section{
  flex: 1 1 50%;
  max-width:50%;
  background-color: #C64212;
  border: 2px solid #DEA438;
  border-radius: 5px;
  padding: 1em;
  display: flex;
  flex-flow: column nowrap;
}
.display-none{
    display:none;
  }
%inner-flex{
  flex: 1 1 100%; //the use of 100% flex basis gives the child elements a height to work with, solves my mobile safari problem!
  display: flex;
  flex-flow: column nowrap;
}
.markdown-output {
  @extend %inner-flex;
  p{
    text-align: center;
    flex: 0.1 1 auto;
    font-size: 1em;
  }
}
.output-text {
    flex: 2 1 auto;
    background-color: white;
    padding: 7px;
    border-radius: 5px;
    color: $text-viewer;
    overflow: auto;
    p{
      text-align: left;
    }
}
.markdown-form{
  color: $text-viewer;
   @extend %inner-flex;
  label{
    font-size: 1em;
    color: $text;
  }
  textarea[type='text']{
    flex: 2 1 auto;
    font-family: 'Open Sans', sans-serif;
    padding: 7px;
    border: none;
    border-radius: 5px;
    resize: none;
    overflow: auto;
  }
}
.markdown-header{
  flex: 0.1 1 auto;
  display: flex;
  justify-content: space-between;
 }
footer{
  flex: 0.1 1 auto;
  align-self: center;
  a{
    color: #C64212;
    text-decoration: none;
    img {
    margin: 0 0.5em;
    width: 1.5em;
    height: auto;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0.4s;
  }
    &:hover >img{
      color: #DEA438;
      visibility: visible;
      opacity: 1;
  }
  }
}

/* mobile first, so this is for larger screens and also for landscape views */
@media only screen and (min-width: 700px)  {
  section {
      min-width: 40%;
    margin: 5%;
  }
}
